langchain 
langchain-core
langchain-community

pymupdf
pypdf

sentence-transformers
faiss-cpu
chromadb

langchain-groq
python-dotenv
django-cors-headers
mysqlclient


beautifulsoup4==4.12.2
requests==2.31.0
urllib3==2.0.7
gunicorn==20.1.0
python-dateutil==2.8.2